.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0; /* Asegura que el menú esté en la parte superior */
    width: 100%;
    font-weight: bold;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
}
  
.menu li {
    float: left;
    text-align: center;
}
  
.menu li.logo {
    margin-right: auto;
}
  
.menu li.icon-carrito img{
    height: 30px;
    padding: 0px;
  }
  
  .menu li.icon-account img{
    height: 20px;
    padding: 0px;
  }

.menu li a {
    text-decoration: none;
    color: white;
    display: block; /* Cambiado a block para ocupar todo el ancho disponible */
    text-align: center;
    padding: 15px 25px; /* Aumentado el padding para mayor área de clic */
    font-size: 14px;
}
  
.menu li.logo img {
    height: 70px;
    padding: 0px;
}

@media (max-width: 768px) {
    .menu li a {
        padding: 10px;
        font-size: 12px;
    }
  }
  
  @media (max-width: 576px) {
    .menu {
        flex-direction: column;
        align-items: stretch;
    }
  
    .menu li {
        float: none;
        width: 100%;
    }
  
    .menu li.logo {
        margin-right: 0;
    }
  
    .menu li a {
        padding: 15px 0;
    }
  
    .master-container {
        padding: 10px;
        margin-top: 60px; /* Ajusta el margen superior para dispositivos móviles */
    }
  }
  