.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0; /* Asegura que el menú esté en la parte superior */
    width: 100%;
    font-weight: bold;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
  }
  
  .menu li {
    float: left;
    text-align: center;
  }
  
  .menu li.logo {
    margin-right: auto;
  }
  
  .menu li a {
    text-decoration: none;
    color: white;
    display: block; /* Cambiado a block para ocupar todo el ancho disponible */
    text-align: center;
    padding: 15px 25px; /* Aumentado el padding para mayor área de clic */
    font-size: 14px;
  }
  
  .menu li.logo img {
    height: 70px;
    padding: 0px;
  }
  
  .menu li.icon-carrito img{
    height: 30px;
    padding: 0px;
  }
  
  .menu li.icon-account img{
    height: 20px;
    padding: 0px;
  }
  
.hero{
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .hero-texto{
    color: white;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
  }
  
  .hero h1{
    font-size: 70px;
    text-align: center;
    font-weight: bold;
  }
  
  .hero-texto-cat{
    color: black;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding-top: 30px;
  }
  
  .card-container {
    max-width: 100%; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor en la pantalla */
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre tarjetas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    padding: 30px;
  }
  
.card {
  width: 200px; /* Ancho fijo de cada tarjeta */
  height: 300px;
  padding: 0.8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 0.5rem;
}
  
.card-img {
  background-color: rgb(35, 35, 35);
  height: 40%;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  transition: 0.3s ease;
}
  
.card-info {
  padding-top: 3%;
}
  

svg {
  width: 30px;
  height: 30px;
}

   
.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
  
.text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}
  
.text-body {
  font-size: 0.9em;
  padding-bottom: 10px;
}
  
.card-button {
  display: flex;
  padding: .1em;
  cursor: pointer;
  border-radius: 40px;
  transition: .3s ease-in-out;
  }
  
.card-button:hover {
  background-color: #FF6C00;
}  

.card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
  


.info{
    background-color: rgb(35, 35, 35);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 300px;
    h2{
      padding-top: 30px;
      padding: 10px;
        color: white;
        font-size: medium;
        text-align: left;
    }
    padding: 10px;
    list-style: none;
}

.info li.logo img {
    height: 100px;
    padding: 0px;
    list-style: none;
    margin: 0;
    padding: 0;
}